.photo-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 16px;
  width: 100%;
  max-width: 1184px;
  padding: 0;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (min-width: 500px) and (max-width: 800px) {
  .photo-grid {
    grid-template-columns: repeat(2, 1fr);
    max-width: 720px;
    margin-top: 88px;
    padding: 0;
  }
}
@media screen and (max-width: 500px) {
  .photo-grid {
    display: flex;
    flex-direction: column;
    max-width: 288px;
    padding: 0;
    margin: 90px 16px 0;
  }
}
