.places {
  margin: 92px auto 0;
  width: 100%;
  max-width: 987px;
}

@media screen and (max-width: 1024px) {
  .places {
    margin-top: 88px;
  }
}

@media screen and (max-width: 544px) {
  .places {
    margin: 64px auto 0;
    max-width: 320px;
  }
}
