.intro {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 92px auto 0;
  width: 100%;
  max-width: 984px;
}
@media screen and (max-width: 1250px) and (min-width: 600px) {
  .intro {
    margin-top: 88px;
  }
}
@media screen and (max-width: 600px) {
  .intro {
    margin-top: 64px;
  }
}
