.intro {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 92px auto 118px;
  width: 100%;
  max-width: 984px;
}
@media screen and (max-width: 1024px) {
  .intro {
    margin-top: 88px;
    margin-bottom: 88px;
  }
}
@media screen and (max-width: 544px) {
  .intro {
    margin-top: 64px;
    margin-bottom: 90px;
  }
}
