.photo-grid__image {
  width: 100%;
  object-fit: cover;
}

@media screen and (min-width: 700px) and (max-width: 800px) {
  .photo-grid__image {
    width: 100%;
  }
}

@media screen and (max-width: 700px) {
  .photo-grid__image {
    width: 100%;
    max-width: 288px;
  }
}
