.cover__subtitle {
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  margin: 0 auto;
}

.cover__subtitle:first-of-type {
  margin-top: 32px;
}

.cover__subtitle:last-of-type {
  margin-bottom: 32px;
}

@media screen and (max-width: 544px) {
  .cover__subtitle {
    font-size: 14px;
    line-height: 16px;
  }
  .cover__subtitle:first-of-type {
    margin-top: 16px;
  }
  .cover__subtitle:last-of-type {
    margin-bottom: 16px;
  }
}
