.place {
  display: grid;
  grid-template-areas:
    "title artist"
    "image text"
    "button text";
  grid-gap: 48px 40px;
  grid-template-columns: 468px 1fr;
  grid-template-rows: min-content min-content 1fr;
  width: 100%;
  max-width: 984px;
  margin: 80px auto 0;
}

.place:first-child {
  margin-top: 0;
}

@media screen and (min-width: 700px) and (max-width: 800px) {
  .place {
    grid-gap: 48px 28px;
    grid-template-columns: 340px 1fr;
    max-width: 720px;
    margin: 0 auto;
  }
  .place:first-child {
    margin-top: 0;
    padding: 0;
  }
}

@media screen and (max-width: 600px) {
  .place {
    grid-gap: 0;
    grid-template-columns: 320px;
    grid-template-areas:
      "title"
      "artist"
      "image"
      "text"
      "button";
    margin: 48px 0 0;
    padding: 0;
  }
  .place:first-child {
    margin-top: 0;
    padding: 0;
  }
}
